<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
    
    <table border="1">
        <caption>List of users</caption>
        <thead>
        <tr>
        <th>№</th>
        <th>Name</th>
        <th>Email</th>
        <th>Update</th>
        </tr>
        </thead>
        <tbody>
            {% for r in regs %}
        <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.name }}</td>
        <td>{{ r.email }} </td>
        <td><a href="{% url 'index' %}"><button>Edit</button></a> <a href="{% url 'index'%}"><button>Delete</button></a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<a href="{% url 'index' %}"><button class="al">Done</button></a>

</body>
</html>